
a:link, a:visited{
    display: block;
    padding: 5px 15px;
    color: rgb(12, 222, 99);
    text-decoration: none;
    background-color: rgb(252, 249, 245);
}

a:hover{
    color:rgb(34, 39, 39);
    background-color: rgb(182, 182, 51);
}
ul{
    list-style-type: none;
    margin: 0px; padding: 0px;
    width: 200px; background-color: rgb(46, 45, 43);
    border: 1px  solid rgb(54, 49, 49);
}

#Head1i
{
    display: block;
    width: 100%;
    height: 300px;
    background-color: antiquewhite;
}

.Menu{
    margin-top: 10px ;
    list-style-type: none;
    float: left;
    padding: 10px;
    background-color: black;
    color: aliceblue;
    
}
.Menu:hover{
    background-color: aqua;
}

